#artistflex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.artists {
	max-height: 500px;
	max-width: 500px;
	border: solid black 1px;
	flex-grow: 1;
	margin: 20px;
	padding: 0px 20px;
}

.artistheading {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.artistname {
	
}

.artistpic {
	height: 100px;
	width: 100px;
}
