body {
	margin: 0px;
	background-color: #f9f1f1;
}

body p {
	color: black;
}

body h1 {
	font-family:'Verdana'; 
	color: purple;
}

header nav {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	overflow: auto;
	border-bottom: solid black 2px;
	background: purple;
}
#logo {
	margin: 10px;
	height: 70px;
	width: 70px;
}
#title {
	font-weight:bold; 
	color:white;
	padding: 0px;
	margin: 10px;
	font-size: 40px;
}
#pagelinks {
	margin-left: auto;
}
header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header nav li {
	float: left;
}

header nav li a {
	display: block;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 20px 40px;
	text-decoration: none;
}

header nav a:hover:not(.active) {
	background-color: #111;
}

header nav .active {
background-color:#4CAF50;
}
* {box-sizing:border-box}

#flexcontent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#leftbox {
	border: solid black 1px;
	flex-grow: 2;
	min-width: 700px;
}
#rightbox {
	border: solid black 1px;
	flex-grow: 1;
	min-width: 300px;
}

footer {
	background: purple;
	border-top: solid black 2px;
}
footer p {
	margin: 0px;
	color: white;
	padding: 14px 16px 0px 16px;
}
footer nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

footer nav li {
	float: left;
}

footer nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

footer nav a:hover:not(.active) {
	background-color: #111;
}

footer nav .active {
	background-color:#4CAF50;
}
